In [31]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [32]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [33]:
# Extracting csv file
df = pd.read_csv('problem_sheet.csv')
df.head()

,[Header],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,IEMFileVersion,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Investigator Name,NCGM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Experiment Name,SP_RUN10_08082021_10bpdual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Date,08-08-2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Workflow,GenerateFASTQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# extracting index 2 column from dataframe
data = df.iloc[19:,9]

In [35]:
# Converting to dataframe
data = pd.DataFrame(data)

In [36]:
data

    Unnamed: 9
19      index2
20  ACCAAGCCAA
21  CTACGTTCTT
22  GAATCGCACA
23  GAGCATTGAG
24  CTGACAACAA
25  ACCGCGGATA
26  TCTTGCTGTG
27  AACGTGCTCG

In [37]:
# Renaming Column
data.columns = ['Original_string']
df = data.iloc[1:,]

In [38]:
# Reset index
df = df.reset_index(drop=True)

In [39]:
df

  Original_string
0      ACCAAGCCAA
1      CTACGTTCTT
2      GAATCGCACA
3      GAGCATTGAG
4      CTGACAACAA
5      ACCGCGGATA
6      TCTTGCTGTG
7      AACGTGCTCG

In [41]:
# creating complement dictionary
compliment_dict = {'A':'T','G':'C','T':'A','C':'G'}

In [42]:
# A function to create reverse complement
def rev_compliment(seq_list):
    lst = []
    for sequence in seq_list:
        string = ''
        for base in sequence:
            string = compliment_dict[base] + string
        lst.append(string)
    return lst

In [43]:
# Adding reverse complement list to dataframe
df['Reverse_complement_string'] = rev_compliment(df.Original_string)

In [44]:
df

  Original_string Reverse_complement_string
0      ACCAAGCCAA                TTGGCTTGGT
1      CTACGTTCTT                AAGAACGTAG
2      GAATCGCACA                TGTGCGATTC
3      GAGCATTGAG                CTCAATGCTC
4      CTGACAACAA                TTGTTGTCAG
5      ACCGCGGATA                TATCCGCGGT
6      TCTTGCTGTG                CACAGCAAGA
7      AACGTGCTCG                CGAGCACGTT

In [45]:
df.to_csv('Final Data Assingment 1.csv')